*{
    margin:0;
}
.header-container{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 4.5rem;
    background-color: yellow;
}
.main-body > div{
    width: 100%;
    height: 22rem;
    padding: 6rem 0;
    display:flex;
    flex-direction: column;
}
.main-body > div:first-child{
    height: calc(100vh - 4.5rem);
}
.main-section-header{
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 2rem;
}



.basic-container{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 auto;
}

.basic-section{
    display:flex;
    flex-direction: column;
    background-color: rgb(193, 180, 180);
    flex: 1 1 auto;
    width: 25rem;
    margin: 0 4rem;
    padding: 0 1rem 1rem;
}

.limitations-section{
    flex-direction: row;
}
.limitations-section li{
    list-style-type: circle;
    padding: 5px 0;
}
.missing-sets-title{
    font-size: 24px;
}

.usage-container{
    flex-direction: column;
}

.usage-section-header{
    margin: 0 auto;
    font-size: 1.5rem;
    padding: .5rem 0;
}
.usage-footer{
    margin: 0 auto;
    padding: 1rem 0;
}
